@model MovieViewModel
@{
    ViewData["Title"] = "Create Movie";
}
<h2>Index</h2>
@using (Html.BeginForm(FormMethod.Post, new { controller = "Movies", action = "AddMovie" }))
{
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title)
    @Html.ValidationMessageFor(x => x.Title)


    @Html.LabelFor(x => x.DurationMinutes)
    @Html.TextBoxFor(x => x.DurationMinutes, new { min = 1, step = "0.01" })
    @Html.ValidationMessageFor(x => x.DurationMinutes)
    <input type="submit" value="Create" />
}